@import "./../../responsive-style/responsive-style.scss";

:host {
  background-color: $header-bg;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  @include xlarge {
    height: $header-height-xl;
  }
  @include large {
    height: $header-height-l;
  }
  @include medium {
    height: $header-height-m;
  }
  @include small {
    height: $header-height-s;
  }
}