@import "./../../responsive-style/responsive-style.scss";

:host {
  background-color: $footer-bg;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  @include xlarge {
    height: $footer-height-xl;
  }
  @include large {
    height: $footer-height-l;
  }
  @include medium {
    height: $footer-height-m;
  }
  @include small {
    height: $footer-height-s;
  }
}