@import "./../responsive-style/responsive-style.scss";

:host {
    .test {
      width: 300px;
      height:  50px;
      position: fixed;
      right: 0px;
      background-color: black;
      color: white;
    }
    .x-dsk { top: 0px;   }
    .dsk   { top: 52px;  }
    .tbl   { top: 104px; }
    .pho   { top: 156px; }
}