<app-header></app-header>
<app-views class="pad-left pad-right"></app-views>
<app-footer></app-footer>
<div class="test visible-xl x-dsk"> X LARGE</div>
<div class="test visible-l dsk"> LARGE </div>
<div class="test visible-m tbl"> TABLET </div>
<div class="test visible-s pho"> PHONE </div>