@import "./variables.scss";

@mixin xlarge() {
  @media only screen and (min-width:#{$large-device-breakpoint}) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width:#{$medium-device-breakpoint}) and (max-width:#{$large-device-breakpoint} - 1) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (min-width:#{$small-device-breakpoint}) and (max-width:#{$medium-device-breakpoint} - 1) {
    @content;
  }
}

@mixin small() {
  @media only screen and (max-width:#{$small-device-breakpoint} - 1) {
    @content;
  }
}