@import "./breakpoint.scss";

@include xlarge {
  .margin {
    margin: 15px;
    &-top {
      margin-top: 15px;
    }
    &-bottom {
      margin-bottom: 15px;
    }
    &-left {
      margin-left: 15px;
    }
    &-right {
      margin-right: 15px;
    }
  }
  .padd {
    padding: 15px;
    &-top {
      padding-top: 15px;
    }
    &-bottom {
      padding-bottom: 15px;
    }
    &-left {
      padding-left: 15px;
    }
    &-right {
      padding-right: 15px;
    }
  }
}

@include large {
  .margin {
    margin: 10px;
    &-top {
      margin-top: 10px;
    }
    &-bottom {
      margin-bottom: 10px;
    }
    &-left {
      margin-left: 10px;
    }
    &-right {
      margin-right: 10px;
    }
  }
  .padd {
    padding: 10px;
    &-top {
      padding-top: 10px;
    }
    &-bottom {
      padding-bottom: 10px;
    }
    &-left {
      padding-left: 10px;
    }
    &-right {
      padding-right: 10px;
    }
  }
}

@include medium {
  .margin {
    margin: 5px;
    &-top {
      margin-top: 5px;
    }
    &-bottom {
      margin-bottom: 5px;
    }
    &-left {
      margin-left: 5px;
    }
    &-right {
      margin-right: 5px;
    }
  }
  .padd {
    padding: 5px;
    &-top {
      padding-top: 5px;
    }
    &-bottom {
      padding-bottom: 5px;
    }
    &-left {
      padding-left: 5px;
    }
    &-right {
      padding-right: 5px;
    }
  }
}

@include small {
  .margin {
    margin: 3px;
    &-top {
      margin-top: 3px;
    }
    &-bottom {
      margin-bottom: 3px;
    }
    &-left {
      margin-left: 3px;
    }
    &-right {
      margin-right: 3px;
    }
  }
  .padd {
    padding: 3px;
    &-top {
      padding-top: 3px;
    }
    &-bottom {
      padding-bottom: 3px;
    }
    &-left {
      padding-left: 3px;
    }
    &-right {
      padding-right: 3px;
    }
  }
}