$large-device-breakpoint: "1200px";
$medium-device-breakpoint: "850px";
$small-device-breakpoint: "576px";

$header-bg: #e300e3;
$header-height-xl: 50px;
$header-height-l: 40px;
$header-height-m: 30px;
$header-height-s: 20px;

$footer-bg: #00e300;
$footer-height-xl: 50px;
$footer-height-l: 40px;
$footer-height-m: 30px;
$footer-height-s: 20px;

$app-bg: #f3f3f3;
$component-bg: #e3e3e3;

$typo-heading: "white";
$typo-paragraph: "grey";