@import "./breakpoint.scss";

@include xlarge {
  .visible-s, .visible-m, .visible-l, .hidden-xl {
    display: none !important;
  }
}

@include large {
  .visible-s, .visible-m, .visible-xl {
    display: none !important;
  }
}

@include medium {
  .visible-s, .visible-l, .visible-xl {
    display: none !important;
  }
}

@include small {
  .visible-m, .visible-l, .visible-xl {
    display: none !important;
  }
}