@import "./../../responsive-style/responsive-style.scss";

:host {
  background-color: $component-bg;
  display: block;

  @include xlarge {
    padding: $header-height-xl 0px;
  }
  @include large {
    padding: $header-height-l 0px;
  }
  @include medium {
    padding: $header-height-m 0px;
  }
  @include small {
    padding: $header-height-s 0px;
  }
}